*{
    margin:0px;
    padding:0px;
}

body{
    background-color: black;
}
.contenedor{
    width: 500px;
    height: 800px;
    border: 1px solid white;   
    margin: 100px auto;
    overflow: hidden;
    position: relative;
}
.cielo{
    position: absolute;
    left:-200px;
    top:-150px;
    filter:blur(5px);
    animation: cielo 30s 1 forwards;
}
@keyframes cielo{
    from{
        scale:100%;
    }
    to{
        scale:130%;
    }
}

.montaña{
    position: absolute;
    left:-600px;
    animation: montaña 20s 1 forwards;
}
@keyframes montaña{
    from{
        top:0px;
        scale: 100%;
    }
    to{
        top:-50px;
        scale: 105%;
    }
}
.persona{
    position: absolute;
    width: 800px;
    left: -150px;
    top: 300px;
    animation:Persona 15s 1 forwards;
}

@keyframes Persona{
    from{
        scale: 100%;
    }
    to{
        scale: 120%;
    }
}
.neblina{
    position: absolute;
    width: 1000px;
    left: -150px;
    top: 500px;
    animation: neblina 5s linear 1 forwards;
}
@keyframes neblina{
    from{
        left: -500px;
    }
    to{
        left: 100px;
    }
}
.banner{
    position: absolute;
    inset: 0;
    top:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

svg path{
    fill:transparent;
    stroke: #fff;
    stroke-width: 0.1;
    stroke-dasharray:50;
    stroke-dashoffset:50;
    animation: textAnimation 5s ease-in-out 1 forwards;

}
@keyframes textAnimation{
    0%{
        stroke-dashoffset: 50;

    }
    80%{
       fill: transparent;
    }
    100%{
        fill: #fff;
        stroke-dashoffset: 0%;
    }
}
